<app-sidebar></app-sidebar>


<div class="page-container">
  <!-- MAIN CONTENT-->
  <div class="main-content">
    <div class="section__content section__content--p30">
      <div class="container-fluid">
        <div class="row m-t-30">
          <div class="col-md-12">
            <!-- DATA TABLE-->
            <div class="table-responsive m-b-40">
              <table class="table table-borderless table-data3">
                <thead>
                <tr>
                  <th>Titre</th>
                  <th>ISBN</th>
                  <th>Couverture</th>
                  <th colspan="4">Synopsis</th>
                  <th>Prix</th>
                  <th>Ajouter</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let b of books">
                  <td style="font-weight: bold;">{{b.title}}</td>
                  <td>{{b.isbn}}</td>
                  <td><img src="../../../assets/img/{{b.cover}}"></td>
                  <td class="process" colspan="4" style="font-size: 9px;">{{b.synopsis}}</td>
                  <td>{{b.price}} €</td>
                  <td>
                    <button class="au-btn au-btn-icon au-btn--green au-btn--small" (click)="addBookInBasket(b)">
                      Ajouter
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- END DATA TABLE-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
