<header class="header-mobile d-block d-lg-none">
</header>

<aside class="menu-sidebar d-none d-lg-block">
  <div class="logo">
    <a routerLink="">
      <img src="../../../assets/images/icon/logo-hd.png" alt="Beezen Henri Potier "/>
    </a>
  </div>
  <div class="menu-sidebar__content js-scrollbar1">
    <nav class="navbar-sidebar">
      <ul class="list-unstyled navbar__list">
        <li>
          <a routerLink="">
            <i class="fas fa-table"></i>Livres</a>
        </li>
        <li>
          <a routerLink="/basket">
            <i class="far fa-check-square"></i>Panier</a>
        </li>
      </ul>
    </nav>
  </div>
</aside>

